.addNewTodo{
}

.addNewTodo input{
    width: 20em;
    border: cadetblue 3px dashed;
}

.addNewTodo button{
    background-color: transparent;
    border-width: 0 0 3px 0;
    width: 5em;
    font-family: "Segoe Script", serif;
    margin-left: 5px;
}

.addNewTodo button:hover{
    cursor: pointer;
    border: 0;
    color: steelblue;
    box-shadow: 0 5px 0 -2px steelblue;
}
