/* NavigationBar.css */
.topNav {
    overflow: hidden;
    background-color: #2d2d2d;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.topNav a {
    color: #f2f2f2;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.topNav a:hover {
    color: deepskyblue;
}

.topNav a.active {
    background-color: steelblue;
    color: white;
}

.topNav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topNav {
        flex-direction: column;
        align-items: center;
    }

    .topNav a {
        display: none;
        width: 100%;
        text-align: center;
    }

    .topNav .icon {
        display: flex;
        justify-content: center;
        right: 0;
        top: 0;
        cursor: pointer;
        color: #f2f2f2;
    }

    .topNav.responsive a {
        display: block;
    }
}
