.todoLists{
    font-family: "Segoe Script", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 26em;
}

@media screen and (max-width: 800px){
    .todoLists{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}
