.todoList {
    border: dodgerblue solid;
    width: 20em;
    height: 26em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0.5em;
    flex-wrap: nowrap;
    overflow-y: scroll;
    border-width: 2px 0 2px 0;
}

.oneLi{
    border-radius: 5px;
    background: rgba(169, 169, 169, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    padding: 0.5em;
    font-size: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.listBtn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.listBtn button{
    background-color: transparent;
    border-width: 3px 0;
    width: 30%;
}

.listBtn button:hover{
    cursor: pointer;
    border: 0;
    color: steelblue;
    box-shadow: 0 5px 0 -2px steelblue;
}


.listsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 800px){

    h2{
      font-size: small;
        margin: 0.1em;
    }
    .todoList{
        width: 95%;
    }

    .todoList {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .listBtn button{
        width: 25%;
        font-size: 0.75em;
    }

    .listsContainer{
        width: 100%;
        overflow-y: scroll;
    }
}


@media screen and (max-width: 500px){

    h2{
      font-size: smaller;
        margin: 0.1em;
    }
    .todoList{
        width: 95%;
    }

    .todoList {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 95%;
    }

    .listBtn button{
        width: 25%;
        font-size: 0.3em;
    }

    .listsContainer{
        width: 100%;
        overflow-y: scroll;
    }
}
