.todoLists{
    font-family: fantasy;
    /*backdrop-filter: blur(55px);*/
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /*border: cadetblue 2px solid;*/
    /*border-radius: 15px;*/
    width: 90%;
    height: 75vh;
    /*margin-bottom: 10px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

@media screen and (max-width: 800px){
    .todoLists{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}
