.todoList {
    border: dodgerblue 1px solid;
    /*border-radius: 15px;*/
    width: 20em;
    height: 26em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    flex-wrap: nowrap;
    /*overflow: scroll;*/
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.oneLi{
    border: deepskyblue 1px solid;
    /*border-radius: 5px;*/
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    padding: 0.5em;
    font-size: 1em;
    font-family: "American Typewriter";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.listBtn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.listBtn button{
    background-color: transparent;
    border: deepskyblue 1px solid;
    border-radius: 10px;
    width: 6em;
    font-family: "American Typewriter";
}

.listBtn button:hover{
    cursor: pointer;
    /*background-color: steelblue;*/
    transition: ease 0.5s;
    color: steelblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.listsContainer{
    /*border: dodgerblue 2px solid;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 800px){

    h2{
      font-size: small;
        margin: 0.1em;
    }
    .todoList{
        width: 95%;
    }

    .todoList {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .listBtn button{
        width: 25%;
        font-size: 0.75em;
    }

    .listsContainer{
        /*border: coral 2px solid;*/
        width: 100%;
        overflow-y: scroll;
    }
}


@media screen and (max-width: 500px){

    h2{
      font-size: smaller;
        margin: 0.1em;
    }
    .todoList{
        width: 95%;
    }

    .todoList {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 95%;
    }

    .listBtn button{
        width: 25%;
        font-size: 0.3em;
    }

    .listsContainer{
        /*border: coral 2px solid;*/
        width: 100%;
        overflow-y: scroll;
    }
}