.todoLists{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border: cadetblue 5px solid;
    border-radius: 15px;
    width: 90%;
    height: 75vh;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px){
    .todoLists{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}